{
  "SitefinityODataTestSettings": {
    "BaseUrl": "https://localhost:myportnumber/",
    "Username": "someone@somewhere.com",
    "OutputCacheAuthKey": "some_user_defined_auth_key",
    "Password": "some_strange_password",
    "GrantType": "password",
    "Scope": "openid",
    "ClientID": "clientId",
    "ClientSecret": "clientSecret"
  }
}